#logo {
    width: 250px;
    height: 170px;
}

#card{
    margin-bottom: 40px;
}

.card-body {
    display: grid;
    place-items: center;
  }

#dish{
    margin-top: 20px; 
    margin-left: 31%; 
    width: 40%;
    height: 100%;
}